@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1634624168999') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangpinfenlei:before {
  content: "\e634";
}

.icon-dingdanguanli:before {
  content: "\e6e5";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-zhanghaoquanxianguanli:before {
  content: "\eb68";
}

.icon-fenxiaoshangpinliebiao:before {
  content: "\e617";
}

.icon-yonghuguanli:before {
  content: "\e70c";
}

.icon-shujutongji:before {
  content: "\e664";
}

.icon-dingdanliebiao:before {
  content: "\e668";
}

.icon-quanxianguanli:before {
  content: "\e605";
}

.icon-shujubaobiao:before {
  content: "\e647";
}

.icon-yonghuliebiao:before {
  content: "\e7f1";
}

.icon-jiaoseliebiao:before {
  content: "\e638";
}

.icon-shangpinguanli:before {
  content: "\e809";
}

